/* #grid{
    display: grid;
    border-color: #000000;
    border-style: solid;
} */

/* .grid-container{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
} */

#grid {
    display: grid;
    width: 400px;
    height: 400px;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr); */
    border:1px solid black;
    

    /* background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.grid-cell {
    user-select: none;
    border:1px solid black;
}

.grid-cell:hover{
    background-color:red;
}

img{
    width: 100%;
    display: block;
}

.dynamicButton{
    display: flex;
    margin: 10px;
    background: hsl(340deg 100% 32%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
}

.buttonText{
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: hsl(345deg 100% 47%);
    color: white;
    transform: translateY(-6px);
    transition: transform 250ms;
}

.dynamicButton:active .buttonText {
    transform: translateY(-2px);
}

#colorPallet {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
}

#colorPallet::-webkit-color-swatch {
    border-radius: 50%;
    border: 1px solid #000000;
}

#colorPallet::-moz-color-swatch {
    border-radius: 50%;
    border: 1px solid #000000;
}
  

#classicMode{
    display: flex;
    flex-direction: row;
}

